<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sistemas Distrirbuídos</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<script src="/jquery/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container">
		<div th:insert="~{nav :: menu}"></div>
		
		<div class="jumbotron" align="center" style="margin-top: 2%;">
			<h1>Seja bem-vindo!</h1>
			<div align="center">
				<h4>Gerenciamento de APIs IFMS/Corumbá</h4>
			</div>
			<form >
		</div>
		
	</div>
</body>
</html>