<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<script src="/jquery/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="row mb-4 mt-4">
			<div class="alert alert-light" role="alert">
				<h1>Cadastro de Alunos</h1>
			</div>
		</div>

		<form class="form-inline" method="POST" th:action="@{/aluno/insere}">
			<div class="row mb-3">
				<div class="col col-md-9">
					<label class="form-label" for="idnome">Nome</label>
					<input class="form-control" type="text" th:value="${aluno.nome}" name="nome" id="nome">
				</div>
				<div class="col col-md-3">
					<label class="form-label" for="ididade">Idade</label>
					<input class="form-control" type="number" th:value="${aluno.idade}" name="idade" id="idade">
				</div>
			</div>
			<input class="btn btn-primary" type="submit" value="Salvar">
		</form>
	</div>
</body>

</html>